h1
{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
    color: white;
}

p
{
    font-family: 'Segoe UI';
    font-style: oblique;
    font-size: 25px;
    color: #ffffff;
}

.btn 
 {
    background-color:rgba(196, 7, 7, 0.808);          /* Blue background */
    border: none;                                      /* Remove borders */
    font-family: 'Candara';                         
    color: white;                                  /* White text */
    padding: 12px 16px;                             /* Some padding */
    font-size: 20px;                               /* Set a font size */
    cursor: pointer;                              /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: royalblue;
  }

 
  a {
    text-decoration: none;
    display: inline-block;
    padding: 14.5px 16px;
    font-family: 'Candara';
    font-size: 20px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  body
{
    font-family: 'Candara';
    background-image: url('img.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 90vw;
}


 #date
          {
              font-family: 'Segoe UI';
              font-size: 25px;
              font-style: initial;
              font-weight: lighter;
              color:whitesmoke;
          }
          
      
